# Analysis of Purchase Data

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

 ## Player Count

In [330]:
player_count = len(purchase_data['SN'].unique())
total_players =pd.DataFrame({'Total Players': [player_count]})
total_players

   Total Players
0            576

##  Purchasing Analysis (Total)

In [63]:
item_count = len(purchase_data['Item ID'].unique())
avg_price = sum(purchase_data['Price']) / len(purchase_data['Price'])
purchase_count = len(purchase_data['Purchase ID'].unique())
tot_revenue = sum(purchase_data['Price']) 
summary = pd.DataFrame({'Number of Unique Items': [item_count], 
           'Average Price': [round(avg_price,2)],
           'Number of Purchases': [purchase_count],
           'Total Revenue':  [round(tot_revenue,2)]})
cols = ['Average Price', 'Total Revenue']
summary.loc[:, cols] = summary[cols].astype(float).applymap('${:,.2f}'.format)
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

##  Gender Demographics

In [150]:
gender_data = purchase_data.drop_duplicates(subset = ["SN"])
gender_data['Gender'].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [145]:
male_buyers = gender_data.loc[gender_data["Gender"] == "Male", :]
male_buyers = pd.DataFrame(male_buyers['Gender'])
male_buyers_count = len(male_buyers)
male_buyers_percentage = round((male_buyers_count / len(gender_data['SN'])) * 100, 2)
male_buyers_percentage

84.03

In [147]:
female_buyers = gender_data.loc[gender_data["Gender"] == "Female", :]
female_buyers = pd.DataFrame(female_buyers['Gender'])
female_buyers_count = len(female_buyers)
female_buyers_percentage = round((female_buyers_count / len(gender_data['SN'])) * 100, 2)
female_buyers_percentage

14.06

In [151]:
other_buyers = gender_data.loc[gender_data["Gender"] == "Other / Non-Disclosed", :]
other_buyers = pd.DataFrame(other_buyers['Gender'])
other_buyers_count = len(other_buyers)
other_buyers_percentage = round((other_buyers_count / len(gender_data['SN'])) * 100, 2)
other_buyers_percentage

1.91

In [198]:
a = pd.Series([male_buyers_percentage,female_buyers_percentage,other_buyers_percentage], name = 'Percentage of Players')
b = pd.Series([male_buyers_count,female_buyers_count,other_buyers_count], name = 'Total Count')
c= pd.Series(['Male', 'Female','Other / Non-Disclosed'], name = 'Gender')
gender_demo = pd.concat([c, b, a], axis=1)
gender_demo= gender_demo.set_index('Gender')
col = ['Percentage of Players']
gender_demo.loc[:, col] = gender_demo[col].astype(float).applymap('{:,.2f}%'.format)
gender_demo

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [207]:
purchase_analysis = purchase_data.groupby('Gender')['Price'].agg(['count', 'mean', 'sum'])
purchase_analysis['Avg Total Purchase per Person']= purchase_analysis['sum'] / gender_demo['Total Count']
colss = ['mean', 'sum', 'Avg Total Purchase per Person']
purchase_analysis.loc[:, colss] = purchase_analysis[colss].astype(float).applymap('${:,.2f}'.format)
purchase_analysis
purchase_analysis = purchase_analysis.rename(columns = {'count': 'Purchase Count', 
                                                        'mean': 'Average Purchase Price',
                                                         'sum': 'Total Purchase Value',
                                                       'Avg Total Purchase per Person': 'Avg Total Purchase per Person'},                                                        
                                                         inplace = False)
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

##  Age Demographics

In [244]:
unique_data = purchase_data.drop_duplicates(subset = ["SN"])
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_data["Age Group"] = pd.cut(unique_data["Age"], bins, labels=group_names, include_lowest=True)
unique_data_age = unique_data.groupby('Age Group')['Purchase ID'].agg(['count'])
unique_data_age['percentage'] = unique_data_age['count'] /len(unique_data) * 100
column = ['percentage']
unique_data_age.loc[:, column] = unique_data_age[column].astype(float).applymap('{:,.2f}%'.format)
unique_data_age = unique_data_age.rename(columns = {'count': 'Total Count', 
                                                    'percentage': 'Percentage of Players'},                                                        
                                                    inplace = False)
unique_data_age

<ipython-input-244-f1a2fa3931f4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data["Age Group"] = pd.cut(unique_data["Age"], bins, labels=group_names, include_lowest=True)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

In [260]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
purchase_analysis_age = purchase_data.groupby('Age Group')['Price'].agg(['count', 'mean', 'sum'])
purchase_analysis_age['Avg Total Purchase per Person']= purchase_analysis_age['sum'] / unique_data_age['Total Count']
co = ['mean', 'sum', 'Avg Total Purchase per Person']
purchase_analysis_age.loc[:, co] = purchase_analysis_age[co].astype(float).applymap('${:,.2f}'.format)
purchase_analysis_age = purchase_analysis_age.rename(columns = {'count': 'Purchase Count', 
                                                        'mean': 'Average Purchase Price',
                                                         'sum': 'Total Purchase Value',
                                                       'Avg Total Purchase per Person': 'Avg Total Purchase per Person'},                                                        
                                                         inplace = False)
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [329]:
top_spenders_data = purchase_data.groupby('SN')['Price'].agg(['count', 'mean', 'sum'])
top_spenders_data.sort_values(by=['sum'], ascending = False) 
top_spenders_data = top_spenders_data.rename(columns = {'count': 'Purchase Count', 
                                                        'mean': 'Average Purchase Price',
                                                         'sum': 'Total Purchase Value'},                                                        
                                                         inplace = False)
top_senders_data = top_spenders_data.sort_values(by=['Total Purchase Value'], ascending = False) 
names = ['Average Purchase Price', 'Total Purchase Value']
top_spenders_data.loc[:, names] = top_spenders_data[names].astype(float).applymap('${:,.2f}'.format)
top_spenders = top_senders_data.head()
col_names = ['Average Purchase Price', 'Total Purchase Value']
top_spenders.loc[:, col_names] = top_spenders[col_names].astype(float).applymap('${:,.2f}'.format)
top_spenders

C:\Users\Saad Andalib\anaconda3\lib\site-packages\pandas\core\indexing.py:1717: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [356]:
item_data = purchase_data[['Item ID', 'Item Name','Price']]
top_items_data = item_data.groupby([ 'Item ID','Item Name'])['Price'].agg(['count', 'mean', 'sum'])
top_items_data= top_items_data.sort_values(by=['count'], ascending = False) 
top_items_data = top_items_data.rename(columns = {'count': 'Purchase Count', 
                                                        'mean': 'Item Price',
                                                         'sum': 'Total Purchase Value'},                                                        
                                                         inplace = False)

names = ['Item Price', 'Total Purchase Value']
top_items_data.loc[:, names] = top_items_data[names].astype(float).applymap('${:,.2f}'.format)
top_items_data.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [357]:
item_data = purchase_data[['Item ID', 'Item Name','Price']]
profitable_items_data = item_data.groupby([ 'Item ID','Item Name'])['Price'].agg(['count', 'mean', 'sum'])
profitable_items_data= profitable_items_data.sort_values(by=['sum'], ascending = False) 
profitable_items_data = profitable_items_data.rename(columns = {'count': 'Purchase Count', 
                                                        'mean': 'Item Price',
                                                         'sum': 'Total Purchase Value'},                                                        
                                                         inplace = False)

names = ['Item Price', 'Total Purchase Value']
profitable_items_data.loc[:, names] = profitable_items_data[names].astype(float).applymap('${:,.2f}'.format)
profitable_items_data.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80